---
import About from "./index.astro";
import formattedDate from "../../scripts/last-updated.ts";
---

<About title="Naima" lastUpdate={formattedDate}>
    <div id="about-the-creator" class="section-header text-font">
        <p>About the Creator</p>
        <hr />
    </div>
</About>
