---
import Collapse from "../Collapse.tsx";
---

<div id="self-expression" class="section-header">
    <p>Forms of Self Expression</p>
    <hr />
</div>

<section id="hair" class="mb-4">
    <Collapse name="The Significance of Hair" />
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut culpa
        ullam sed facere commodi <a href="">link to another site here</a> saepe animi nisi. Corrupti, quidem excepturi.
    </div>
</section>
<section id="body-language" class="mb-4">
    <Collapse name="Body Language" />
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut culpa
        ullam sed facere commodi saepe animi nisi. Corrupti, quidem excepturi.
    </div>
</section>
