---
import BaseLayout from "../layouts/BaseLayout.astro";
import formattedDate from "../scripts/last-updated.ts";
import ContactForm from "../components/ContactForm";
---

<BaseLayout
    title="About Me | A Guide to the Einasvel"
    lastUpdate={formattedDate}
>
    <section slot="header" class="w-full max-w-335 m-auto px-12">
        <h1 class="page-title">The Creator | Me!</h1>
        <p class="text-base">
            Learn more about me and my projects outside of this one! See how I
            take characters from this world and humanize them.
        </p>
    </section>

    <div id="contact" class="section-header text-font">
        <p>Contact</p>
        <hr />
        <p class="section-desc">
			I always enjoy a chat!
		</p>
    </div>

    <div class="min-w-70 sm:w-100 m-auto">
        <ContactForm namePlaceholder="Maukkohd" contactPlaceholder="maukkohd@einasvel.com" messagePlaceholder="De'ih Enausq'/hl/" location="Guide V2 | Contact" client:load />
    </div>

    </BaseLayout>
