---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Galaxy | A Guide to the Einasvel">
	<section slot="header" class="w-full max-w-335 m-auto px-12">
		<h1 class="page-title">The Galaxy</h1>
		<p class="text-base">
			subtitle
		</p>
	</section>

	<p class="section-header text-font">Planet</p>
</BaseLayout>
