---
import BaseLayout from "../layouts/BaseLayout.astro";
import formattedDate from "../scripts/last-updated.ts";
---

<BaseLayout title="Galaxy | A Guide to the Einasvel" lastUpdate={formattedDate}>
	<section slot="header" class="w-full max-w-335 m-auto px-12">
		<h1 class="page-title">The Galaxy | Mk'mih'oh</h1>
		<p class="text-base">
			Learn information on the climate and orbit of Mk'mih'oh.
		</p>
	</section>

	<div id="planet" class="section-header text-font">
		<p>Planet</p>
		<hr />
	</div>
</BaseLayout>
