---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="A Guide to the Einasvel">
	<section
		slot="header"
		class="w-full max-w-200 m-auto h-200 mt-33 text-center"
	>
		<h1 class="text-6xl font-bold mb-2">A Guide to the Einasvel</h1>
		<p class="text-xl mb-3">
			Welcome to the planet Mk°mih'oh! This site hosts the collective
			information on my world and its inhabitants, spanning all the way
			back to its creation in November 2022.
		</p>
		<p class="text-base w-[75%] m-auto">
			Not sure where to start? Look below for a brief summary of each
			page! Note: This site looks best on larger screens.
		</p>
	</section>

	<p class="section-header text-font">Site Summary</p>
	<p class="section-desc text-font">
		Not sure where to start? Look below for a brief summary of each page!
	</p>
</BaseLayout>
