---
import BaseLayout from "../layouts/BaseLayout.astro";
import formattedDate from "../scripts/last-updated.js";
import Gallery from "../components/Gallery";
import SiteSummary from "../components/SiteSummary";
---

<BaseLayout title="A Guide to the Einasvel" lastUpdate={formattedDate}>
	<section
		slot="header"
		class="w-full max-w-220 m-auto h-200 mt-33 text-center px-10 md:px-20"
	>
		<h1 class="text-4xl md:text-6xl font-bold mb-2">
			A Guide to the Einasvel
		</h1>
		<p class="text-lg md:text-xl mb-3">
			Welcome to the planet Mk°mih'oh! This site hosts the collective
			information on my world and its inhabitants, spanning all the way
			back to its creation in November 2022.
		</p>
	</section>

	<div id="site-summary" class="section-header text-font">
		<p>Site Summary</p>
		<hr />
		<p class="section-desc">
			Not sure where to start? Look below for a brief summary of each
			page!
		</p>
	</div>
	<SiteSummary client:visible />

	<div id="gallery" class="section-header text-font">
		<p>Gallery</p>
		<hr />
	</div>
	<Gallery client:visible />
</BaseLayout>
