@import "tailwindcss";

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--color-font-secondary);
}

::-webkit-scrollbar {
    width: 18px;
    background-color: var(--color-light-gray);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark-gray);
    border: 3px solid var(--color-light-gray);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(from var(--color-shadow) r g b / 0.35);
}

@theme {
    --color-primary: #3A3763;
    --color-secondary: #F7DC51;
    --color-off-white: #FDF8F1;
    --color-font: #FDF8F1;
    --color-font-secondary: #1E1E1E;
    --color-font-blue: #143C64;
    --color-shadow: #1E1E1E;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #BCBCBC;
    --color-link-light: #135FAF;
    --color-link-dark: #EFBD81;
}

::view-transition-new(nav-pill) {
    animation-name: nav-pill-spring;
    animation-duration: 800ms;
}

@keyframes nav-pill-spring {
    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(2px);
    }

    60% {
        transform: translateX(-1px);
    }

    90% {
        transform: translateX(0);
    }
}

.nav-pill {
    height: 58px;
    margin-top: -7.5px;
    margin-left: -15px;
    position: absolute;
}

nav .main {
    padding: 12px 20px;
}

nav .main:hover {
    text-shadow:
        0.25px 0.25px 0px var(--color-font-blue),
        -0.25px -0.25px 0px var(--color-font-blue);
}

nav li ul {
    display: none;
    position: absolute;
    padding-bottom: 10px;
    background-color: var(--color-secondary);
    box-shadow: 0px 4px 6px -1px rgb(from var(--color-primary) r g b / 0.3);
    font-weight: bold;
    z-index: 2;

    li a {
        padding: 0 20px;
        cursor: pointer;
    }

    li a:hover {
        text-decoration: underline;
    }

    .sub {
        font-weight: 400;
        margin: 2px 0 0 10px;
        display: block;
    }

    &::after {
        content: "";
        width: 100%;
        height: 10px;
        background-color: var(--color-secondary);
        position: absolute;
        top: -10px;
    }
}

#jump-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 18px 16px;
    padding: 8px 12px;
    border-radius: 100px;
    background-color: var(--color-font-secondary);
    color: var(--color-font);
    font-size: small;
    letter-spacing: 0.25px;
    transition: all 0.3s;
}

#jump-to-top:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px -3px var(--color-primary);
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 2px;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-desc {
    font-size: medium;
    font-weight: lighter;
    margin-top: 8px;
}

/* target the slot */
#tabs-section>* {
    display: flex;
    gap: 10px;
    /* match main container sizing */
    width: 95%;
    margin: auto;
    max-width: 1340px;
    padding: 0 40px;
}

#tabs-section a {
    width: 150px;
    text-align: center;
    padding: 6px 8px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-primary);
    box-shadow: inset 0 -18px 10px -10px rgb(from var(--color-shadow) r g b / 0.2);
}

#tabs-section a.active {
    background-color: rgb(from var(--color-primary) r g b / 0.85);
    box-shadow: none;
}

footer a {
    color: var(--color-link-light);
}

.underline-link a,
.hover-underline-link a:hover {
    text-decoration: underline;
}

.link-on-dark a {
    color: var(--color-link-dark);
}

.link-on-light a {
    color: var(--color-link-light);
}

.write-vertical {
    writing-mode: sideways-lr;
}

.galaxy-table p:nth-of-type(odd) {
    background-color: var(--color-shadow);
}

.info-table {
    padding: 24px;
    background-color: var(--color-off-white);
    color: var(--color-font-secondary);

    table {
        margin: 24px 0;
        background-color: #fff;
        text-align: center;
        border: 1px solid var(--color-font-secondary);
    }

    th,
    td {
        padding: 8px;
        border: 1px solid var(--color-font-secondary);
        white-space: nowrap;
    }
}

.phylo-wrapper {
    overflow: auto;
    height: fit-content;
    min-height: 300px;
    max-height: 800px;
    border: 1px solid var(--color-off-white);
}

.phylo {
    display: inline-block;
}

.phylo ul {
    padding-left: 45px;
    position: relative;
}

.phylo li {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 5px 0;
    color: var(--color-font);
    display: flex;
}

.phylo .active {
    color: #67320B;
    background-color: var(--color-link-dark);
    border: 1px solid #67320B;
    border-radius: 8px;
    padding: 4px 8px;
    margin: -4px -8px;
}

/* | */
.phylo li::before,
.phylo li::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-left: 1px solid var(--color-off-white);
    width: 18px;
    height: 50%;
}

/* - child */
.phylo li::after {
    bottom: auto;
    top: 50%;
    border-top: 1px solid var(--color-off-white);
}

.phylo li:only-child::after,
.phylo li:only-child::before {
    display: none;
}

.phylo li:only-child {
    padding-left: 0;
}

.phylo li:first-child::before,
.phylo li:last-child::after {
    border: 0 none;
}

/* - last child */
.phylo li:last-child::before {
    border-bottom: 1px solid var(--color-off-white);
    border-radius: 0 0 0 5px;
}

.phylo li:first-child::after {
    border-radius: 5px 0 0 0;
}

/* parent - */
.phylo ul ul::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    border-bottom: 1px solid var(--color-off-white);
    width: 20px;
    height: 0;
}

.phylo li .phylo-item:hover+ul li::after,
.phylo li .phylo-item:hover+ul li::before,
.phylo li .phylo-item:hover+ul::before,
.phylo li .phylo-item:hover+ul ul::before {
    border-color: var(--color-link-dark);
}

.phylo-extension {
    width: 33px;
    margin-left: -2px;
    margin-right: 8px;
    border-bottom: 1px solid var(--color-off-white);
    margin-top: 1px;
}

.phylo-fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100px;

    span {
        flex-grow: 1;
        height: 1px;
        margin-right: -5px;
        border-bottom: 1px solid var(--color-off-white);
    }
}

.phylo-item {
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin-right: 8px;
    }

    p,
    a {
        text-align: left;
        width: max-content;
        max-width: 100px;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.species-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 8px 24px;
}

.species-list-item {
    display: flex;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        margin-right: 8px;
    }

    p,
    a {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 132px;
        max-height: 40px;
    }
}

#char-accordion {
    display: flex;
    width: 100%;
    height: 450px;
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-shadow);
    border-radius: 8px;
}

.acc-item {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    position: relative;
    max-width: 60px;
    border-right: 1px solid var(--color-shadow);
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.acc-item.active {
    max-width: 100%;
}

.acc-item:last-of-type {
    border-right: none;
    /* 1px less to accomodate border */
    border-radius: 0 7px 7px 0;
}

.acc-item:first-of-type {
    /* 1px less to accomodate border */
    border-radius: 7px 0 0 7px;
}

/* full slide including content and background image */
.acc-slide {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

/* slide content only */
.acc-content {
    z-index: 1;
}

.acc-bg {
    position: absolute;
    right: 60px;
    top: 0;
    height: 100%;
    min-width: max-content;
    mask-image: linear-gradient(to left, rgb(0, 0, 0, 0.5), transparent 80%);
    z-index: 0;
}

.acc-name {
    position: relative;
    min-width: 60px;
    writing-mode: sideways-rl;
    padding: 12px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4%;
    color: var(--color-font);
    text-shadow: 0 0 8px var(--color-shadow),
        0.5px 0.5px 0 var(--color-shadow),
        -0.5px 0.5px 0 var(--color-shadow),
        -0.5px -0.5px 0 var(--color-shadow),
        0.5px -0.5px 0 var(--color-shadow);
    transition: background-color 1s ease;
    cursor: pointer;
    z-index: 2;

    p {
        position: absolute;
        z-index: 1;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        object-fit: cover;
    }
}

.acc-name:hover img {
    filter: brightness(90%);
}


.carousel-section {
    /* copy image size */
    width: 250px;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* copy image size */
    width: 250px;
    height: 250px;
    padding: 8px;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border: 1px solid var(--color-shadow);
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    /* image only fades out when other fades in (overlap) */
    transition-delay: 200ms;
}

.carousel-slide[data-active] {
    opacity: 1;
    /* image appears immediately */
    transition-delay: 0ms;
}

.carousel-slide img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.carousel-arrow {
    height: 32px;
    width: 32px;
    font-size: 20px;
    border-radius: 100%;
    background-color: rgb(from var(--color-light-gray) r g b / 75%);
    cursor: pointer;
    z-index: 2;

    svg {
        fill: var(--color-shadow);
    }
}

/* ONLY shared stylers */
.carousel-arrow:hover {
    background-color: var(--color-shadow);

    svg {
        fill: var(--color-light-gray);
    }
}

.dots {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border: 2px solid var(--color-font-secondary);
    border-radius: 100%;
    transition: 200ms background-color ease-in-out;
}

.dot.active {
    background-color: var(--color-font-secondary);
}

/* md and above */
@media(min-width: 768px) {
    nav li:hover ul {
        display: block;
    }
}

/* below md */
@media(max-width: 768px) {
    .nav-pill {
        display: none;
    }

    nav {
        background-color: var(--color-secondary);
        width: max-content;
        height: 100vh;
        position: fixed;
    }

    nav .main {
        padding: 0 24px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        width: 220px;
    }

    nav ul li {
        border-bottom: 1px solid rgb(from var(--color-font-blue) r g b / 0.25);
        padding: 8px 0px 8px 8px;
    }

    nav li ul {
        background-color: var(--color-off-white);
        position: absolute;
        top: 0px;
        margin-top: 0;
        padding-top: 24px;
        margin-left: 210px;
        width: 300px;
        height: 100vh;
        box-shadow: 0px 4px 6px -1px rgb(from var(--color-primary) r g b / 0.2);

        &::after {
            width: 0;
            height: 0;
        }
    }

    nav li ul li {
        width: 100%;

        .sub {
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 0;
            border-bottom: 1px solid transparent;
        }
    }

    .page-title {
        margin-top: 84px;
    }

    #char-accordion {
        flex-direction: column;
        height: 500px;
    }

    .acc-item {
        flex-direction: column;
        max-height: 55px;
        max-width: none;
        border-bottom: 1px solid var(--color-shadow);
        border-right: none;
    }

    .acc-item.active {
        max-height: 100%;
    }

    .acc-item:last-of-type {
        border-bottom: none;
        border-radius: 0 0 7px 7px;
    }

    .acc-item:first-of-type {
        border-radius: 7px 7px 0 0;
    }

    .acc-slide {
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .acc-bg {
        right: 0;
    }

    .acc-name {
        min-height: 55px;
        min-width: none;
        writing-mode: horizontal-tb;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 55px;
        }
    }
}

/* below sm */
@media(max-width: 640px) {
    nav .main {
        padding: 0 12px;
    }

    nav ul {
        width: 150px;
    }

    nav li ul {
        width: 210px;
        margin-left: 140px;
    }

    nav li ul li {
        padding-left: 0;
        padding-right: 0;
    }
}