@import "tailwindcss";

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--color-font-secondary);
}

@theme {
    --color-primary: #3A3763;
    --color-secondary: #F7DC51;
    --color-off-white: #FDF8F1;
    --color-font: #FDF8F1;
    --color-font-secondary: #1E1E1E;
    --color-font-blue: #143C64;
    --color-shadow: #1E1E1E;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #BCBCBC;
    --color-link-light: #135FAF;
    --color-link-dark: #EFBD81;
}

::view-transition-new(nav-pill) {
    animation-name: nav-pill-spring;
    animation-duration: 800ms;
}

@keyframes nav-pill-spring {
    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(2px);
    }

    60% {
        transform: translateX(-1px);
    }

    90% {
        transform: translateX(0);
    }
}

.nav-pill {
    height: 58px;
    margin-top: -7.5px;
    margin-left: -15px;
    position: absolute;
}

nav .main {
    padding: 12px 20px;
}

nav .main:hover {
    text-shadow:
        0.25px 0.25px 0px var(--color-font-blue),
        -0.25px -0.25px 0px var(--color-font-blue);
}

nav li ul {
    display: none;
    position: absolute;
    padding: 10px 0;
    background-color: var(--color-secondary);
    box-shadow: 0px 4px 6px -1px rgb(from var(--color-primary) r g b / 0.3);
    font-weight: bold;
    z-index: 2;

    li {
        padding: 0 20px 2px;
        cursor: pointer;
    }

    li:hover {
        text-decoration: underline;
    }

    .sub {
        font-weight: 400;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 10px;
        background-color: var(--color-secondary);
        position: absolute;
        top: -10px;
    }
}

#jump-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 18px 16px;
    padding: 8px 12px;
    border-radius: 100px;
    background-color: var(--color-font-secondary);
    color: var(--color-font);
    font-size: small;
    letter-spacing: 0.25px;
    transition: all 0.3s;
}

#jump-to-top:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px -3px var(--color-primary);
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 2px;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-desc {
    font-size: medium;
    font-weight: lighter;
    margin-top: 8px;
}

footer a {
    color: var(--color-link-light);
}

.underline-link a,
.hover-underline-link a:hover {
    text-decoration: underline;
}

.link-on-dark a {
    color: var(--color-link-dark);
}

.link-on-light a {
    color: var(--color-link-light);
}

.write-vertical {
    writing-mode: sideways-lr;
}

.info-table {
    padding: 24px;
    background-color: var(--color-off-white);
    color: var(--color-font-secondary);

    table {
        margin: 24px 0;
        background-color: #fff;
        text-align: center;
        border: 1px solid var(--color-font-secondary);
    }

    th,
    td {
        padding: 8px;
        border: 1px solid var(--color-font-secondary);
        white-space: nowrap;
    }
}

/* md and above */
@media(min-width: 768px) {
    nav li:hover ul {
        display: block;
    }
}

/* below md */
@media(max-width: 768px) {
    .nav-pill {
        display: none;
    }

    nav {
        background-color: var(--color-secondary);
        width: max-content;
        height: 100vh;
        position: fixed;
    }

    nav .main {
        padding: 0 24px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        width: 220px;
    }

    nav ul li {
        border-bottom: 1px solid rgb(from var(--color-font-blue) r g b / 0.25);
        padding: 8px 0px 8px 8px;
    }

    nav li ul {
        background-color: var(--color-off-white);
        position: absolute;
        top: 0px;
        margin-top: 0;
        padding-top: 24px;
        margin-left: 210px;
        width: 300px;
        height: 100vh;
        box-shadow: 0px 4px 6px -1px rgb(from var(--color-primary) r g b / 0.2);

        &::after {
            width: 0;
            height: 0;
        }
    }

    nav li ul li {
        width: 100%;
        padding: 8px 48px 8px 24px;
    }

    .page-title {
        margin-top: 84px;
    }
}

/* below sm */
@media(max-width: 640px) {
    nav .main {
        padding: 0 12px;
    }

    nav ul {
        width: 150px;
    }

    nav li ul {
        width: 210px;
        margin-left: 140px;
    }

    nav li ul li {
        padding-right: 12px;
        padding-left: 12px;
    }
}