---
import "../global.css";
const { title, lastUpdate } = Astro.props;
import { ClientRouter } from "astro:transitions";
import Navigation from "./Navigation";
---

<script>
	window.addEventListener("load", () => {
		// declare initial default page routes only on the first load
		sessionStorage.setItem("aboutPgTab", "/about/naima");
		sessionStorage.setItem("lifePgTab", "/organic-life/animals");
	}, {once: true});

	document.addEventListener("astro:page-load", () => {
		// set active tab styling
		const tabs = document.querySelectorAll("#tabs-section a");
		tabs.forEach(
			(tab) =>
				tab.getAttribute("href") === location.pathname &&
				tab.classList.add("active"),
		);

		// save current path for page
		const targetPath = location.pathname;
		switch (true) {
			case targetPath.startsWith("/organic-life/"):
				sessionStorage.setItem("lifePgTab", targetPath.split("#")[0]);
				break;

			case targetPath.startsWith("/about/"):
				sessionStorage.setItem("aboutPgTab", targetPath.split("#")[0]);
				break;

			default:
				break;
		}
	});
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}{title && " | "}A Guide to the Einasvel</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<ClientRouter />
	</head>

	<body
		class="flex flex-col min-h-screen bg-[#ecd9a3] bg-[url('/homeMain.png')]"
	>
		<div id="top"></div>
		<a href="#top" id="jump-to-top">Jump To Top</a>

		<header
			class="h-13 w-full mb-8 bg-secondary content-center shadow-md shadow-primary/20 fixed md:relative"
		>
			<Navigation
				pathname={Astro.url.pathname.split("/")[1]}
				client:only
			/>
		</header>

		<slot name="header" />

		<main class="flex-1 my-8">
			<div id="tabs-section" class="text-font">
				<slot name="tabs" />
			</div>

			<section
				class="bg-linear-to-b from-primary/85 to-40% to-primary rounded-[10px] pt-12.5 pb-37.5 w-[95%] m-auto max-w-335 px-6.25"
			>
				<slot />
			</section>
		</main>

		<footer
			class="bg-secondary shadow-[0_-4px_6px_-1px] shadow-primary/20 px-15 md:px-25 pt-16 pb-8"
		>
			<section
				class="flex flex-col md:flex-row justify-between text-sm mb-8 gap-10 max-w-250 m-auto"
			>
				<div>
					Interactive guide of the fictional Enausq'/hl/ (Einasvel)
					species and Mk'mih'oh (Mikimoh) planet. Einasvel and
					Enausq'/hl/ are used interchangeably throughout this site.
					<br />
					<br />
					Note: This site looks best on larger screens
				</div>

				<div
					class="flex flex-wrap md:flex-nowrap justify-between gap-10"
				>
					<div class="flex flex-col">
						<p class="font-bold mb-2">Resources</p>
						<a
							href="https://www.figma.com/"
							target="_blank"
							rel="noopener noreferrer">Figma</a
						>
					</div>
					<div class="flex flex-col">
						<p class="font-bold mb-2">References</p>
						<a
							href="https://www.youtube.com/@Artifexian"
							target="_blank"
							rel="noopener noreferrer">Artifexian</a
						>
						<a
							href="https://www.youtube.com/@Biblaridion"
							target="_blank"
							rel="noopener noreferrer">Biblaridion</a
						>
					</div>
					<div class="flex flex-col">
						<p class="font-bold mb-2">Inspirations</p><a
							href="https://www.instagram.com/milesr.exobio/"
							target="_blank"
							rel="noopener noreferrer">Milesr.exbio</a
						>
					</div>
				</div>
			</section>
			<p class="text-xs w-full text-center">
				All rights reserved. Do not copy or distribute without
				permission.
				<br />
				Last updated: {lastUpdate}
			</p>
		</footer>
	</body>
</html>
